.btn-control{
    margin-left: 5px;
}

.btn-form{
    width: 100%;
    align-items: center;
}

.form-container{
    width: 100%;
    align-items: center;
}

.form{
    max-width: 500px;
    margin: auto;
}
.form h2{
    text-align: center;
}
.cursiva{
    font-style: italic;
}